<div class=" text-center">
  <h2 style="color: aliceblue;">Update Topic</h2>
</div>
<br>
<br>
<div class="update" style="background-color: black; margin-left: 30% ;margin-right: 30%; opacity: 0.7; ">
  <div class="col-md4" >
        
<form  style="max-width:500px;margin:auto;">
<div class="form-group">
   <h5 style="color: aliceblue;">ID</h5> 
    <input type="number" name="id" [(ngModel)]="topics.id" class="form-control" id="" placeholder="id" readonly>
  </div>
<div class="form-group">
<h5 style="color: aliceblue;">Topic Name</h5>
<input type="text" name="tname" [(ngModel)]="topics.tname" class="form-control" id="" placeholder="topic name">
</div>
<div class="form-group">
  <h5 style="color: aliceblue;">Description</h5>
  <!-- <input type="text" name="description" [(ngModel)]="topics.description" class="form-control" id="" placeholder="description"> -->
  <textarea name="description" id="description" [(ngModel)]="topics.description" class="form-control" cols="30" rows="10"></textarea>
  </div>
<button type="button" (click)="update()"  class="btn btn-primary">Submit</button>
</form>
</div>
</div>
<br>
<br>
<br>