<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    <br>
    <br>
    <br>
    <br>
    <!-- Container (Contact Section) -->
    <div style="background-color:black;margin-right:20%;margin-left:20%;opacity:0.6;">
      <div id="contact" class="container-fluid bg-grey" style="color:azure">
          <h2 class="text-center">CONTACT</h2>
          <div class="row">
            <div class="col-sm-5">
              <p>Contact us and we'll get back to you within 24 hours.</p>
              <p><span class="glyphicon glyphicon-map-marker"></span> Hijewadi, Pune </p>
              <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
              <p><span class="glyphicon glyphicon-envelope"></span> sawantpriti19@gmail.com</p>
              <p><span class="glyphicon glyphicon-envelope"></span> mrunal64p@gmail.com</p>
            </div>
            </div>
            </div>
      </div>    
</body>
</html>